/* HomePage.module.css */
.foodGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.foodCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.foodImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.foodInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.foodName {
    font-weight: bold;
    margin-bottom: 5px;
}

.foodDescription {
    margin-bottom: 5px;
    flex-grow: 1;
}

.foodPrice,
.foodCount {
    font-size: 0.9em;
    color: #555;
}