.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    margin-top: 41px;
    margin-left: 20px;
    margin-bottom: 0;
    color: var(--fgColor-default);
}